body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#cuadro {
  display: block;
  align-items: center;
  text-align-last: center;
}
#error {
  font-weight: 900;
  text-align: center;
  display: none;
  background: #FCEABB;
  background: -webkit-linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  background: -moz-linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0cbaba;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
}

.letter {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
}

.row {
  margin-bottom: 10px;
}

.input-area {
  margin: 30px;
}

.grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
 }
 #grid{
  display: grid;
  align-items: center;
  justify-items: center;
 }
 .row-letter {
  width: 48px;
  height: 48px;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  border: 2px solid #dee1e9;
  color: #fff;
  margin: 2px;
  font-weight: 700;
  border-radius: 5px;

}
    
 .row{
     margin-bottom: 5px;
 }
